<nav class="navbar">
  <div class="nav-links">
    <div class="logo"><a href="../../pages/homepage">Dooodles</a></div>
    <div class="links-txt">
      <a href="../../pages/homepage" class="nav-link">Home</a>
      <a href="../../pages/dailyChallenge" class="nav-link">Daily Challenge</a>
      <a href="../../pages/Leadboard" class="nav-link">Leader board</a>
    </div>
  </div>
  <div class="auth-buttons">
    <a href="#" class="btn-full create-account">Create Account</a>
    <a href="#" class="btn-stroke login">Log In</a>
  </div>
</nav>
