<nav class="navbar">
  <div class="nav-links">
    <div class="logo">
      <a href="../../pages/homePage/index.html">Dooodles</a>
    </div>
    <div class="links-txt">
      <a href="../../pages/homePage/index.html" class="nav-link">Home</a>
      <a href="../../pages/dailyChallenge/index.html" class="nav-link"
        >Daily Challenge</a
      >
      <a href="../../pages/Leadboard/index.html" class="nav-link"
        >Leader board</a
      >
    </div>
  </div>
  <div class="auth-buttons">
    <!-- These links will change dynamically based on login status -->
  </div>
</nav>
