#navbar-container {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 60px;
  background-color: var(--bg);
  box-shadow: 0 2px 4px rgba(60, 60, 58, 0.1);
  width: 100%;
  color: var(--black);
}

.logo {
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 60px;
}

.nav-link {
  margin: 0 15px;
  font-size: 1.1rem;
  text-decoration: none;
}

.nav-link:hover {
  color: var(--primary); /* Orange color on hover */
}

.user-profile {
  color: var(--black);
}

.nav-link.log-out {
  font-size: 0.9rem;
}

span {
  margin-left: 0.5rem;
}

/* Admin Button */
.admin-btn {
  font-weight: bold;
  background-color: transparent;
  border: 2px solid #ff4500;
  color: #ff4500;
  border-radius: 20px;
  padding: 8px 16px;
}

.admin-btn:hover {
  background-color: #ff4500;
  color: white;
}
