/* Profile Page */
.profile {
  min-height: 100vh;
}

.profile-header {
  text-align: center;
  margin-bottom: 40px;
  background: rgb(124, 115, 255);
  background: linear-gradient(
    52deg,
    rgba(124, 115, 255, 1) 0%,
    rgba(168, 61, 255, 1) 100%
  );
  display: flex;
  justify-content: center;
  height: 130px;
}

.profile-header h1 {
  font-size: 2.5rem;
}

.profile-header p {
  font-size: 1.2rem;
  color: var(--primary);
}

.doodles-gallery {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  width: 100%;
}

.doodle-cards {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  gap: 40px;
  flex-wrap: wrap;
}

.no-doodles-message {
  display: none;
  color: #888;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 20px;
}

.diamond {
  font-size: 1.5rem;
}

.container-info-user > h1 {
  line-height: normal;
}

.container-info-user {
  background-color: var(--white);
  border-radius: 80px;
  border: solid 4px rgba(92, 63, 254, 1);
  width: fit-content;
  padding: 20px 100px 15px 100px;
  transform: translateY(40%);
}

.doodle-cards .doodle-card {
  background-color: var(--white);
  border-radius: 16px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding: 20px;
}

.doodle-cards .doodle-card img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
  border: 2px solid var(--bg);
  border-radius: 10px;
}

.drawing-card h3 {
  font-weight: 500;
  font-size: 1.1rem;
  color: #2e130a;
}

.info-card {
  width: 100%;
  padding: 10px 20px;
  border-radius: 0 0 16px 16px;
  text-align: center;
}

.info-card :nth-child(2) {
  color: var(--primary);
}
